body {
  background-color: #edf6f9 !important;
}
.bg-dark{
  .container{
    .d-flex{
      .px-2{
        color: #fcffeb !important;
      }
      .input-group{
        .btn{
          background-color: #fcffeb !important;
        }
      }
    }
  }
}